:root {
  /* Light Colors  */

  --background: #E7DCC4; /* Background color */
  --accent: #d8dee9; /* Hover color */
  --cards: #e5e9f0; /* Cards color */

  /* Fonts Color */
  --fg: #2e3440; /* Foreground color */
  --sfg: #3b4252; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(216, 222, 233, 0.7),
    /* #D8DEE9 */ rgba(216, 222, 233, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */

  --background: #2C343A; /* Background color */
  --accent: #45525C; /* Hover color */
  --cards: #2C343A; /* Cards color */

  /* Fonts Color */
  --fg: #E7DCC4; /* Foreground color */
  --sfg: #B2A790; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(44, 52, 58, 0.85),
    rgba(44, 52, 58, 0.85)
  ); /* Filter color */
}
